.navWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em 1em;
  width: 100%;
  height: 15%;
  border-bottom: 0.1em solid #c0c0c0;
}

.socialMenuIcon,
.BurgerMenu {
  font-size: 1.8rem;
}

.socialMenuText,
.BurgerMenu {
  display: none;
}

.BurgerMenu {
  margin: 0.2em;
  font-size: 2.4rem;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 776px) {
  .BurgerMenu {
    display: block;
  }

  .socialMenuText {
    display: block;
  }

  .socialMenuIcon {
    display: none;
  }
}
