@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap");

.authorMenu {
  position: fixed;
  left: 0;
  padding: 1em;
  font-family: "Birthstone Bounce", cursive;
  font-weight: 400;
  font-style: italic;
}
