@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Comme:wght@100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comme", sans-serif;
}
